.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 60%;
}
.carousel{
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height:100%;
    background-position: center;
    background-size: cover;
}


.header{
    color: white;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 25px;
}

.description{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

.hobby_heading{
    color: white;
    font-size: 25px;
    margin-bottom: 1rem;
}


@media (min-width:1024px){
    .carousel-container{
        margin-bottom: 30px;
        max-width: 400px;
        max-height: 250px;
    }
}